*{
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.main_container{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    font-size: 16px;
}
.main_container span p a{
    color: #ffffff;
}
@media (max-width: 768px) {
    .main_container {
        padding: 10px;
        font-size: 14px;
    }
}
